.Calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
  
  .Calculator-Screen {
    width: 93%;
    font-size: 2rem;
    height: 80px;
    text-align: center;
    border: none;
    background-color: #252525;
    color: #fff;
    padding-right: 20px;
    padding-left: 10px;
  }
  button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background : #f1f3f4;
  }
  .Calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }  
  .operator{
    background : #dfe1e5;
  }
